.heading {color: rgb(53, 97, 112);
text-align: center;
font-size: 40px;
font-family: monospace, 'Lucida Sans', sans-serif;}

.list {color: grey;
text-align: center;
font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;}